.education-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.project-item {
    margin-top: 20px;
}

.section-container {
    margin-top: 20px;
}

.tag-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.project-tag {
    margin:2px;
    padding: 6px;
    border-radius: 6px;
    background-color: rgb(119, 119, 119);
    color: aliceblue;
}

.project-tag:hover {
    background-color: rgb(156, 156, 156);
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.link {
    margin:2px;
    padding: 6px;
    border-radius: 6px;
}

.link:hover {
    background-color: rgb(156, 156, 156);
}